# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
.DS_Store

# Keep directory structures but ignore nested files/data
# For models: ignore all files but keep folder structure via .gitkeep
models/**
!models/**/
!models/**/.gitkeep

# For logs: ignore other dynamic files except .gitkeep and server.log
logs/**
!logs/**/
!logs/**/.gitkeep
!logs/**/server.log

# For outputs: ignore other dynamic files except .gitkeep
output/**
!output/**/
!output/**/.gitkeep

# For inputs: ignore other dynamic files except .gitkeep
input/**
!input/**/
!input/**/.gitkeep


